#top .carousel .card .card-img-top {
    height: 102px;
}

#top .membership-rank {
    text-align: center;
    font-weight: bold;
    background-color: var(--container-bg);
    padding: 20px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

#top .membership-rank .badge-container {
    display: flex;
}

#top .membership-rank .badge-container .label-container {
    flex: 0.6;
}

#top .membership-rank .badge-container label{
    margin-right: 10px;
}

#top .membership-rank .badge-container .badge-container {
    flex: 0.4;
}

#top .membership-rank .badge-container span.badge {
    background-color: #fff;
    padding: 4px 10px;
    margin-bottom: 10px;
    width: 70px;
    border-radius: 15px;
}

#top .membership-rank .progress {
    
}