:root {
  --glico-x: 1.5rem;
  --glico-y: 0;
  --danger: #f44337;
  --active-danger: #a8271f;
  --success: #0d8f23;
  --active-success: #047c18;
  --container-bg: #faf3f0;
  --card-bg: #d2d2d2;
  --default-hover: #d5d5d5;
  --form-inputs-radius: 15px;
  --outline-dead-grey: #eeebeb;
  --outline-dead-grey-text: #605f5f;
  --button-active-hover-transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
  margin: 0;
  font-family: Yu Gothic;
  font-weight: 700;
}

/* Removing Scroll bar to all elements */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 700;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

/* General CSS */
.container {
  padding-right: var(--glico-x, .75rem);
  padding-left: var(--glico-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.row {
  width: 100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.m-0 {
  margin: 0 !important;
}

.mt-10 {
  margin-top: 1em !important;
}

.mb-1em {
  margin-bottom: 1em !important;
}

.my-50px {
  margin: 50px 0;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.scrollable-y {
  overflow-y: scroll;
}
.scrollable-x {
  overflow-x: scroll;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

.flex-direction-row > * {
  flex: 1;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* Width */
.w-10 {
  width: 10% !important;
}

.w-25 {
  width: 25% !important
}
.w-50 {
  width: 50% !important
}
.w-75 {
  width: 75% !important
}
.w-100 {
  width: 100% !important
}
.w-auto {
  width: auto !important
}

/* Height */
.h-10 {
  height: 10% !important;
}
.h-25 {
  height: 25% !important
}
.h-height {
  width: 50% !important
}
.h-75 {
  height: 75% !important
}
.h-100 {
  height: 100% !important
}
.h-auto {
  height: auto !important
}

.h-45px {
  height: 45px;
}

.round-container {
  margin: 0 auto;
  padding: 12px;
  background-color: var(--container-bg);
  border-radius: 40px;
  font-weight: 600;
}

/* Header */
.logo {
  width: 58px;
  margin: 10px 8px;
}

.logo img {
  width: 100%;
}

/* Button */
.btn,
a.btn {
  padding: 10px;
  min-width: 130px;
  border-radius: 17px;
  border: 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.btn:hover,
.btn:active {
  background-color: var(--default-hover);
  transition: var(--button-active-hover-transition);
}

.btn.danger {
  background-color: var(--danger);
}

.btn.danger:hover,
.btn.danger:active {
  background-color: var(--active-danger);
  transition: var(--button-active-hover-transition);
}

.btn.success {
  background-color: var(--success);
}
.btn.success:hover,
.btn.success:active {
  background-color: var(--active-success);
  transition: var(--button-active-hover-transition);
}

.btn.outline-grey {
  background-color: var(--outline-dead-grey);
  color: var(--outline-dead-grey-text);
  border: 1px solid var(--outline-dead-grey-text);
}

.group-button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Select and Inputs */
.form-select-input select {
  background-color: #fff;
  width: 100%;
  border: 0;
  font-size: 18px;
  padding: 10px;
  border-radius: var(--form-inputs-radius);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../img/dropdown-icon.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 97%;
}

.form-select-input select.small-icon {
  background-size: 15px;
  background-position: 90%;
}

/* for Firefox */
.form-select-input select::-moz-focus-inner {
  border: none;
}

.form-select-input label span.required {
  color: red;
}

.group-form-select .input-container {
  display: flex;
  width: 100%;
  gap: 12px;
}

.group-form-select .form-select-input {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}

.group-form-select label span.required {
  color: red;
}

.form-select-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-select-input input {
  border: 0;
  border-radius: var(--form-inputs-radius);
  padding: 10px;
}

/* Navbar */
ul.navigation-bar {
  display: flex;
  list-style-type: none;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 85px;
  margin-bottom: 0;
  bottom: 0;
  margin-top: 50px;
}
ul.navigation-bar li {
  flex: 1;
  background-color: var(--danger);
  text-align: center;
  position: relative;
  padding: 15px 0;
}
ul.navigation-bar li a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: 400;
}
ul.navigation-bar img {
  display: block;
  margin: 0 auto;
}
ul.navigation-bar .questionnaire{
  padding-right: 60px;
}
ul.navigation-bar .coupon{
  padding-left: 60px;
}
ul.navigation-bar .coupon img{
  padding: 6px 0;
}
ul.navigation-bar .center-menu{
  border-radius: 50%;
  background-color: #f44337;
  border: 9px solid #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 80px;
  width: 100px;
}
ul.navigation-bar .center-menu span{
  position: absolute;
  transform: translate(-50%);
  width: 100px;
  color: #fff;
  font-size: 10px;
  bottom: 14px;
  font-weight: 400;
}

/* carousel */
.carousel {
  display: flex;
  gap: 20px;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Cards */
.card {
  min-height: 150px;
  min-width: 254px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card .card-img-top {
  min-height: 102px;
  background-color: var(--card-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card .card-body {
  background-color: var(--container-bg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.card .card-body .card-title {
  font-weight: bold;
  font-size: 15px;
}

.card .card-body .card-text {
  font-weight: normal;
  font-size: 13px;
}

/* Footer */
.footer {
  line-height: 1;
  text-align: right;
  font-size: 10px;
  position: absolute;
  right: 6px;
  bottom: 5px;
}


.footer.footer-bottom {
  bottom: 90px;
}

/* Radio Button */
.glico-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.glico-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.glico-radio:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.glico-radio input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.glico-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.glico-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
}